  kind: XL
  metadata:
    name: xl-release
  spec:
    global:
      tag: 8.4.4
    nginx:
      nginxIsPrimaryIngress: ${NGINX_INGRESS}
      httpsRedirect: false
    #use the following parameters if you would like Turbo to create a single OCP route that will point to the nginx service
    #openshiftingress:
    #  enabled: true
    #nginxingress:
    #  enabled: true